body {
	color: #444;
	background: url('../img/bg.gif') repeat #ececec;
}

h1, h2 {
	font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
	padding: 0;
	margin: 0 0 0 6px;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 2em;
	padding: 10px 10px 6px 10px;
}

p { padding: 0; margin: 0 10px 4px 10px; }

a:focus, a:hover { color: #025; text-decoration: underline; }
a { color: #058; text-decoration: none; }

a, a:focus, a:active, a:visited {
   outline: none;
}

/* navbar (topmost) */

div.navbar {
	font-family: Arial, Helvetica, sans-serif;
	background: transparent url('../img/navbar_bg.jpg') right 0 repeat-x;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	margin: 20px 0;
}

div.navbar ul {
	list-style-type: none;
}

div.navbar ul li {
	display: inline-block;
	border-left: 1px solid #787878;
}

div.navbar ul li a {
	color: #292929;
	display: inline-block;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	font-weight: 300;
	padding: 0 20px;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(250, 250, 250, 0.6);
}

div.navbar ul li a.active { 
	color: #fff	;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.6);
	background: #464545;
}
div.navbar ul li a:hover { 
	color: #fff	;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.6);
	background: #787878;
}
div.navbar ul li:first-child {
	border-left: none;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px; 
}
div.navbar ul li:last-child {
	border-right: none;
}
div.navbar ul li:first-child a {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px; 
}
div.navbar ul li:first-child a.active {  }

/* input on navbar */
div.navbar ul li.search {
	border-right: none;
	height: 53px;
	width: 640px;
}
div.navbar ul li.search input {
	background: transparent url() 0 0 no-repeat;
	border: none;
	float: right;
	font-size: 1.6em;
	height: 25px;
	margin: 0.75em 0.5em 0;
	padding: 0.2em 0.2em 0.3em 1.8em;
	width: 168px;
}

div.navbar ul li input:focus { outline: none; }

/* right floating ul in navbar */
div.navbar ul.right {
	float: right;
}

div.navbar ul.right li:first-child a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; 
}

div.navbar ul.right li:last-child a {
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px; 
}




/* breadcrump */
div.bar {
	font: 11px Arial, Helvetica, sans-serif;
	text-shadow: -1px -1px 0 rgba(220, 220, 220, 0.9);
	background: url('../img/bc_bg.png') repeat-x; 
	height: 30px;
	line-height: 30px;
	color: #9b9b9b;
	border: solid 1px #cacaca;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
div.bar input:focus { outline: none; }

div.bar ul li {
	list-style-type: none;
	float: left;
	color: #454545;
}
div.bar ul.bc li {
	padding-left: 10px;
}
div.bar div.btnbar ul li {
	border-left: 1px solid #cacaca;
}
div.bar ul.bc li:first-child {
	padding-left: 50px;
	background: transparent url('../img/bc_home.png') 10px no-repeat;
}
div.bar ul li a {
	color: #454545;
	text-shadow: -1px -1px 0 rgba(220, 220, 220, 0.9);
	height: 30px;
	display: block;
	padding-right: 15px;
	text-decoration: none;
}
div.bar div.btnbar ul li a {
	padding-left: 10px;
}
div.bar ul li a img {
	margin: -4px 3px 0 3px;
}
div.bar ul.bc li a {
	color: #454545;
	height: 30px;
	display: block;
	background: transparent url('../img/bc_sep.png') right no-repeat;
	padding-right: 15px;
	text-decoration: none;
}
div.bar ul li a:hover {
	color: #000;
}
div.bar div.btnbar ul li a {
	background: transparent url('../img/bc_bg.png') 0 -10px repeat;
}
div.bar div.btnbar ul li a:hover {
	background: transparent url('../img/bc_bg.png') bottom repeat;
}
div.bar div.btnbar ul li {
	margin: 0;
}
div.bar div.btnbar ul li button {
	color: #454545;
	text-shadow: -1px -1px 0 rgba(220, 220, 220, 0.9);
	padding: 0 10px;
	background: transparent url('../img/bc_bg.png') 0 -10px repeat;
	border: 0;
	margin: 0;
	height: 30px;
	cursor: pointer;
}
div.bar div.btnbar ul li button:hover {
	background: transparent url('../img/bc_bg.png') 0 -15px repeat;
}
div.bar div.btnbar ul li button img {
	float: left;
	margin: 0px 3px 0 3px;
}
div.bar div.btnbar ul li button span.ui-button-text {
	float: left;
	display: block;
	margin: 1px 3px 0 2px;
}
div.bar div.btnbar ul li button:hover {
	color: #000;
}


div.bar div.bc {
	
}

div.bar div.bc > a {
	color: #454545;
	height: 30px;
	display: block;
	background: transparent url('../img/bc_sep.png') right no-repeat;
	padding-right: 15px;
	text-decoration: none;
	display: block;
	padding-left: 10px;

}

/* submenus */
ul ul { position: absolute; margin: 0; padding: 0; }
ul ul li { width: 99%; display: block; border-bottom: 1px solid #CACACA; }
li ul {display: none;}
ul li:hover > ul {display: block; }

/* content boxes */

div.box {
	padding: 0;
	margin-bottom: 20px;
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0.6);
}

div.box h1 { margin: 6px 10px 4px 8px; }

div.caption {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	background: transparent url('../img/bg_bar.png') bottom repeat-x; 
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	border-bottom-color:#677482;
	border-top-color:#87929C;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

div.caption.blue {
	color: #dedede;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	background: #787878;
	background: transparent url('../img/navbar.png') bottom repeat-x; 
	}

	div.caption input:focus { outline: none; }

	div.caption h2,
	div.caption h3 {
		font-size: 18px;
		line-height: 32px;
		color: #fff;
		font-weight: 100;
		margin-top: 2px;
		padding: 0 0 0 10px;
	}

	div.caption a.blue {
		color: #dedede;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	}

	div.caption a {
		color: #000;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	}

	div.caption a:hover {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	}
	

div.box_footer,
div.box div.footer {
	height: 45px;
	background: url('../img/panel.jpg') repeat-x bottom center #fff;
}

div.box div.btnbar {

}


/* filters */
div.filter {
	padding: 0 10px;
	margin: 0 auto;
	}

	div.filter ul { list-style: none; }
	div.filter ul li { display: inline-block; margin-right: 6px; }

	div.filter ul li a {
		font-size: 11px;
		color: #dedede;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background: transparent;
		display: inline;
		padding: 3px 10px;
		text-decoration: none;
	}

	div.filter ul li a.active {
		font-size: 11px;
		color: #dedede;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background: #585858;
		display: inline;
		padding: 3px 10px;
		text-decoration: none;
	}



div.btnbar {
	float: right;
	}

	div.btnbar ul { list-style: none; }
	div.btnbar ul li { display: inline-block; margin-right: 6px; }


/* Paginator TODO: overhaul */
div.paginator {
    padding:1em;
    }

div.paginator .btnbar {
	font-size: 100%;
	line-height:18px;
	font-weight: normal;
	}
	
	div.paginator div.btnbar ul li {
	    display:inline;
	    margin:0;
	    padding:0;
	}
	
	div.paginator .btnbar li {
	    height:16px;
	    width:20px;
	}
	
	div.paginator .btnbar li a,
	div.paginator .btnbar li.current {
        padding:0 0.3em;
	}
	
	div.paginator .btnbar li.img a {
	    padding:0;
	}
	
	div.paginator .btnbar img {
        vertical-align:top;
	}

	div.paginator .btnbar li.current {
		color: #555;
		font-weight:bold;
	}

/* Definition Lists */

dl {
    padding:0px 10px 4px 10px;
    margin-bottom:0.5em;
}

dl dt {
    clear:left;
    display:block;
    float:left;
    width:100px;
    padding: 2px 0;
}

dl dd {
    display:block;
    float:left;
    padding: 2px 0;
}
