#footer {
	margin-top: 110px;
	text-align: center;
	color: #6e6e6e;
}

#copyright {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 6px 10px;
}

dl {
    padding:5px;
    margin-bottom:0.5em;
}

dl dt {
    clear:left;
    display:block;
    float:left;
    width:100px;
    padding: 2px 0;
}

dl dd {
    display:block;
    float:left;
    padding: 2px 0;
}